spring:
  config:
    activate:
      on-profile: docker
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        namespace: public
        group: DEFAULT_GROUP
        username: nacos
        password: nacos

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

jwt:
  secret: "2B4B6250655368566D597133743677397A24432646294A404D635166546A576E"
  expiration: 86400000